

body {
    background: yellow;
}

#header {
    position: fixed; /* Фіксована позиція */
    top: 0; /* Встановлення верхньої межі */
    left: 0; /* Встановлення лівої межі */
    width: 100%; /* Розтягнути заголовок на всю ширину сторінки */
    height: 100px; /* Встановлення висоти заголовка */
    text-align: left;
    background-color: black; /* Додавання чорного колору фону */
    padding: 0px 0; /* Додатковий внутрішній відступ для тексту від меж заголовка */
    margin: 0 auto; /* Центрування заголовка на сторінці */
}

#header img {
    width: 500px; /* Нова ширина */
    height: auto; /* Автоматична висота, щоб зберегти пропорції */
    margin-top: 120px;
    margin-left: 120px;  
    border-radius: 10%; /* Задаємо радіус для створення кружечка */
    overflow: hidden; /* Обрізаємо контент за межами контейнера */
}

#header p {
    position: relative; /* Змінено на relative для позиціонування відносно батьківського елемента */
    top: -700px; /* Відступ зверху, щоб відокремити текст від зображення */
    left: 800px;
    font-family: Arial, sans-serif; /* Шрифт */
    font-size: 48px; /* Розмір шрифту */
    color: #333; /* Колір тексту */
    font-weight: bold; /* Жирний шрифт */
}

