@import url('https://fonts.googleapis.com/css?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1, 100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

content {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}



.title {
    width: 800px;
    padding: 10px;
    margin-top: 20px;
    background: #0056b3;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 Irgba(0, 0, 0, 0.19);
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    min-width: 800px;
    min-height: 400px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
}
.item-title{
    font-weight: bold;
    max-width: 780px;
    min-height:32px;
}
.item-photos{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0;
}
.item-photo{
    height: 300px;
    width: 200px;
}
.item-image{
    height: 300px;
    width: 500px;
}
.links a {
    display: block;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.links a:hover {
    background-color: #0056b3;
}
/*.contacts p {
    margin: 3px;
}

.contacts p:first-child {
    font-weight: bold;
    letter-spacing: 1px;
}

.contacts p:last-child {
    border-left: 3px solid rgb(253, 48, 48);
}

.info {
    font-size: 9px;
    text-align: justify;
    color: rgb(120, 120, 120);
}*/
